div.sticky-queue {
	position:fixed;
	background:#FFFFFF;
	border:1px solid #DFDFDF;
	width:240px;
	box-shadow:0 2px 4px rgba(0,0,0,0.1);
	-moz-box-shadow:0 2px 4px rgba(0,0,0,0.1);
	-webkit-box-shadow:0 2px 4px rgba(0,0,0,0.1);
	z-index: 1000;
}
div.sticky-note {
	padding-right:20px;
}
div.sticky {
	background: #EFEFEF;
	background: rgb(239,239,239);
	background: -moz-linear-gradient(top, rgba(239,239,239,1) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(239,239,239,1)), color-stop(100%, rgba(255,255,255,1)));
	background: -webkit-linear-gradient(top, rgba(239,239,239,1) 0%, rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(top, rgba(239,239,239,1) 0%, rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top, rgba(239,239,239,1) 0%, rgba(255,255,255,1) 100%);
	background: linear-gradient(top, rgba(239,239,239,1) 0%, rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#ffffff', GradientType=0 );
	color: #666666;
	display: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 16px;
	padding: 10px;
	position: relative;
	text-shadow: 1px 1px 0 #FFFFFF;
}
div.sticky-close {
	background:url(close.png) no-repeat center center transparent;
	position:absolute;
	top:10px;
	right:10px;
	height:14px;
	width:14px;
	cursor:pointer;
}
img.sticky-close {
	position:absolute;
	top:10px;
	right:10px;
	height:14px;
	width:14px;
	cursor:pointer;
}
.top-center {
	left:50%;
	margin-left: -100px;
}
.top-right {
	right:20px;
}
.top-left {
	left:20px;
}
.top-right,
.top-left,
.top-center {
	top:-2px;
	border-radius:0 0 5px 5px;
	-moz-border-radius:0 0 5px 5px;
	-webkit-border-radius:0 0 5px 5px;
}
.bottom-right {
	right:20px;
}
.bottom-left {
	left:20px;
}
.bottom-right,
.bottom-left {
	bottom:-2px;
	border-radius:5px 5px 0 0;
	-moz-border-radius:5px 5px 0 0;
	-webkit-border-radius:5px 5px 0 0;
}
.border-top-right,
.border-top-left,
.border-top-center {
	border-radius:0 0 5px 5px;
	-moz-border-radius:0 0 5px 5px;
	-webkit-border-radius:0 0 5px 5px;
	box-shadow: 0 1px 0 #CCCCCC inset, 0 2px 0 #FFFFFF inset;
	-moz-box-shadow: 0 1px 0 #CCCCCC inset, 0 2px 0 #FFFFFF inset;
	-webkit-box-shadow: 0 1px 0 #CCCCCC inset, 0 2px 0 #FFFFFF inset;
}
.border-bottom-right,
.border-bottom-left {
	border-radius:5px 5px 0 0;
	-moz-border-radius:5px 5px 0 0;
	-webkit-border-radius:5px 5px 0 0;
	box-shadow: 0 1px 0 #FFFFFF inset, 0 -1px 0 #CCCCCC inset;
	-moz-box-shadow: 0 1px 0 #FFFFFF inset, 0 -1px 0 #CCCCCC inset;
	-webkit-box-shadow: 0 1px 0 #FFFFFF inset, 0 -1px 0 #CCCCCC inset;
}